.section {}

.hero {
    background-image: url(./imges/Background.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    background-position: center;
}

.hero--wrapper {
    padding-top: 216px;
    padding-left: 76px;
    padding-bottom: 217px;
    padding-right: 40px;
}

.hero__title {
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 71px;
    color: #FFFFFF;
    padding-bottom: 18px;
}

.hero__text {
    padding-bottom: 50px;
    max-width: 471px;
    width: 100%;
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.btn {
    padding: 18px 53px;
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    border: none;
    background: #FAFAFA;
    border-radius: 35px;
    color: #303948;
    background-color: #fff;
}

.carousel-inner {
    background-image: url(./imges/Vector.png);
    max-width: 1039px;
    width: 100%;
    margin: 0 auto;
    background: #14213D;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
}

.title {
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.text {
    max-width: 934px;
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}